<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chat</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .chat {
                height: 100vh;
                background-color: lightblue;
            }
            .chats {
                height: 100vh;
                background-color: gray;
            }
            #inputMessage {
                position: absolute;
                top: 90vh;
                width: 65vw;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <div class="container-fluid">
                <div class="row align-items-start">
                    <div class="col-4 chats">
                        <div v-for="(x,index) in chats" class="row">
                            <div
                                @click="openChat(index)"
                                class="card"
                                style="width: 18rem"
                            >
                                <img
                                    src="https://i.pinimg.com/280x280_RS/2e/45/66/2e4566fd829bcf9eb11ccdb5f252b02f.jpg"
                                    class="card-img-top"
                                    alt="..."
                                />
                                <div class="card-body">
                                    <h5 class="card-title">{{x.name}}</h5>
                                    <p class="card-text">
                                        {{ x.messages[x.messages.length -1].txt
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col chat">
                        <div class="row">
                            <div class="col">
                                <div
                                    v-for="(j,index) in chats[selectedChat].messages"
                                    :key="index"
                                    class="row"
                                >
                                    <div class="card">{{ j.txt }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="inputMessage" class="input-group mb-3">
                                <input
                                    v-model="Message"
                                    type="text"
                                    class="form-control"
                                    placeholder=""
                                    aria-label=""
                                    aria-describedby="basic-addon2"
                                />
                                <span
                                    @click="sendMessage"
                                    class="input-group-text"
                                    id="basic-addon2"
                                    >enviar</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"
        ></script>
        <script>
            // const socket = io("http://127.0.0.1:5000/", {
            //     transports: ["websocket"],
            // });

            // socket.emit("message", { data: "I'm connected!" });

            // Instanciamos VueJS
            var app = new Vue({
                el: "#app",

                data: {
                    x: 0,
                    j: 0,
                    index: 0,
                    userData: null,
                    Message: "",
                    selectedChat: 0,
                    chats: [
                        {
                            name: "",
                            messages: [
                                {
                                    txt: "",
                                },
                            ],
                        },
                    ],
                },
                async mounted() {
                    this.userData = JSON.parse(
                        window.localStorage.getItem("userData")
                    );
                    console.log(this.userData, "usuario");
                    if (this.userData) await this.loadMessages();
                },
                methods: {
                    async loadMessages() {
                        try {
                            const response = await fetch(
                                "http://127.0.0.1:5000/api/login/",
                                {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({
                                        username: this.userData.username,
                                        password: this.userData.password,
                                    }),
                                }
                            )
                                .then((data) => {
                                    return data.json();
                                })
                                .then((data) => {
                                    if (data.message)
                                        return location.replace(
                                            "http://127.0.0.1:5500/templates/index.html"
                                        );

                                    this.chats = data.user.chats;
                                    setTimeout(this.loadMessages(), 1000);
                                });
                        } catch (error) {
                            console.error(error);
                        }
                    },
                    openChat: function (index) {
                        this.selectedChat = index;
                    },
                    async sendMessage() {
                        try {
                            const response = await fetch(
                                "http://127.0.0.1:5000/api/messages/" +
                                    this.userData.id +
                                    "/",
                                {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({
                                        txt: this.Message,
                                        to: this.chats[this.selectedChat].id,
                                    }),
                                }
                            )
                                .then((data) => {
                                    return data.json();
                                })
                                .then((data) => {
                                    console.log(data.messages);

                                    this.chats[this.selectedChat].messages =
                                        data.messages;

                                    this.Message = "";
                                });
                        } catch (error) {
                            console.error(error);
                        }
                    },
                },
            });
        </script>
    </body>
</html>
